* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: navajowhite;
}

.container {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.input-group {
    margin-bottom: 10px;
}

.btn-home {
    display: flex;
    justify-content: flex-end;
}

.btn-ninja {
    display: flex;
    justify-content: flex-start;
}

.new_dojo_form {
    margin-top: 5px;
}